<div class="container-mid"  appRout appTry21>
  <div class="container animated">

    <img class="logo custom-width" src="assets\img\logo.png" alt="logo">
    <div class="wrapper_2">
      <div class="slider" [@heroState]="triggerIndex">
        <h1>{{title21}}<span>{{title22}}</span> <br>{{title23}}<br>{{title24}}</h1>
        <h1>{{title1}}<span>{{title2}}</span> <br>{{title3}}<br>{{title4}}</h1>
        <!--<p>{{title3}}</p>-->
      </div>
    </div>
    <!--<div class="slide1" [@heroState]="triggerIndex"> <h1>MODERN <span> & </span> <br> CREATIVE WEB & APP<br> DEVELOPMENT.</h1> </div>-->
    <!-- HERE YOU CAN REMOVE THE CUSTOM WIDTH PRESET !!! -->

    <!--<div class="slider" >-->


    <!--<p>OUR WEBSITE IS COMING SOON</p>-->

    <!--OPEN OVERLAY-->
    <!--<div class="slide1" [@heroState]="triggerIndex"> <h1>MODERN <span> & </span> <br> CREATIVE WEB & APP<br> DEVELOPMENT.</h1> </div>-->

    <!--<div class="slide2"> <h1>DESIGN <span> & </span> <br> CREATIVE DIGITAL<br>WEB SOLUTIONS.</h1> </div>-->

    <!--<div class="slide3"> <h1>AGENCY <span> & </span> <br> BUSINESS DESIGN<br> STRATEGYS.</h1> </div>-->
    <!--<div class="arrow-wrap go-down">-->
    <!--<div class="open-overlay down-button">-->
    <!--<i class="fa fa-angle-down first"></i>-->
    <!--<i class="fa fa-angle-down second"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!-- /OPEN OVERLAY -->

    <!--</div>-->
  </div>
</div>
